# my global config
global:
  scrape_interval: 15s  # Scrape targets every 15s (default is 1m)
  evaluation_interval: 15s  # Evaluate rules every 15s


# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:



# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
# - "first_rules.yml"
# - "second_rules.yml"



# Scrape configurations
scrape_configs:
  # Scrape Prometheus itself
  - job_name: "prometheus"
    honor_timestamps: true
    metrics_path: "/metrics"
    scheme: http
    static_configs:
      - targets: ["localhost:9090"]


  # Scrape Spring Boot application
  - job_name: "otel-collector"
    honor_timestamps: true
    metrics_path: "/metrics"
    scheme: http
    static_configs:
      - targets: ["otel-collector:8889"]
